/* admin_panel/static/admin_panel/css/custom_admin_styles.css */

.custom-page-link-container {
  margin-bottom: 20px;
  padding: 12px 15px;
  /* --- Варианты фона --- */
  background-color: #2e5e87; /* Вариант 1: Синий
  /* background-color: #d4e6f1; */ /* Вариант 2: Насыщенный светло-голубой */
  /* --------------------- */
  border: 1px solid #79aec8;
  border-radius: 4px;
  text-align: center;
  box-sizing: border-box;
  width: 100% !important;
}

.custom-page-link-container a {
  font-size: 1.1em;
  font-weight: bold;
  color: #f4bc06;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

/* Наведени на ссылку */
.custom-page-link-container a:hover {
  color: #f49906;
  text-decoration: underline;
}

/* Стили для SVG иконки внутри ссылки */
.custom-page-link-container a svg {
  width: 16px;
  height: 16px;
  fill: currentColor;
}

#content-main > .module {
  width: 100%;
  float: none;
  clear: both;
  margin-left: 0;
  margin-right: 0;
  box-sizing: border-box;
}

#content-main > .module > table {
  width: 100%;
  table-layout: auto;
  box-sizing: border-box;
}

#content-main > .module > table > tbody > tr {
  display: flex;
  align-items: center;
  width: 100%;
}

/* Стиль для ячейки с названием модели (<th>) */
#content-main > .module > table > tbody > tr > th {
  flex-grow: 1;
  margin-right: auto;
  /* margin-left: 0.5em; */
  text-align: left;
  border-bottom: none;
  padding-top: 8px;
  padding-bottom: 8px;
}

/* Стиль для ячеек с кнопками Add/Change (<td>) */
#content-main > .module > table > tbody > tr > td {
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: 1em;
  margin-right: 1em;
  white-space: nowrap;
  border-bottom: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

#content-main > .module > table > tbody > tr {
  border-bottom: 1px solid var(--hairline-color, #e8e8e8);
}
#content-main > .module > table > tbody > tr:last-child {
  border-bottom: none;
}
